<mat-toolbar color="primary">
  <a class="brand" routerLink="/">{{ 'app.name' | t }}</a>
  <span class="spacer"></span>
  @if (auth.user(); as user) {
    @if (!user.mustChangePassword) {
      @if (auth.hasRole('SuperAdmin')) {
        <a mat-button routerLink="/admin/teachers" routerLinkActive="active">{{ 'nav.teachers' | t }}</a>
        <a mat-button routerLink="/admin/institutes" routerLinkActive="active">{{ 'nav.institutes' | t }}</a>
      } @else {
        <a mat-button routerLink="/home" routerLinkActive="active">{{ 'nav.home' | t }}</a>
      }
      <a mat-button routerLink="/profile" routerLinkActive="active">{{ 'nav.profile' | t }}</a>
    }
    <button mat-button type="button" (click)="logout()">{{ 'nav.logout' | t }}</button>
  } @else {
    <a class="link" routerLink="/status">{{ 'nav.status' | t }}</a>
  }
</mat-toolbar>
<main>
  <router-outlet />
</main>
